<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NoKyoto</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           AUTO
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Pieces Auto</a></li>
            <li><a class="dropdown-item" href="#">Pneus</a></li>
            <li><a class="dropdown-item" href="#">Huile Moteur</a></li>
            <li><a class="dropdown-item" href="#">Accessoire</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MOTO
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Pièce moto</a></li>
            <li><a class="dropdown-item" href="#">Pneu</a></li>
            <li><a class="dropdown-item" href="#">Huile Moto</a></li>
            <li><a class="dropdown-item" href="#">Accessoire entretien</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           OUTILLAGE
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"></a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ATELIER
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Job</a></li>
            <li><a class="dropdown-item" href="#">Self Services</a></li>
          </ul>
        </li>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           NOS VEHICULES
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Véhicules d'occasion </a></li>
            <li><a class="dropdown-item" href="#">Véhicules à louer </a></li>
            <li><a class="dropdown-item" href="#">Entretiens et néttoyage </a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
</body>
</html>
